@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-obsidian text-white font-sans antialiased;
    overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    @apply bg-slate;
}
::-webkit-scrollbar-thumb {
    @apply bg-steel rounded-full;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-brand-cyan/50;
}
